h1{
    text-align: center;
    font-size:70px;
    background-image: url(background.jpg);
    padding: 20px 90px;
    border:3px solid gray;
    border-radius:30px ;
    margin-bottom: 10px;
    
}
.nav{
    text-align:center;
    margin-top:10px;
    color: white;
    padding:1px;
    margin-right:100px;
}
    .nav li{
    display:inline-block;
    padding:15px;
    border: 5px solid rgb(168, 168, 250);
    box-shadow: gray;
    font-size:32px;   
}        
li:hover{
background-color:rgb(186, 187, 192);
border-radius:15px;
border:5px solid gray;

      }